# Site wide configuration

title: "SLKone"
description: "People you can trust, results you can count on"
logo: 
teaser: 
locale: en
url: https://slkone.com
feed:
  path: atom.xml

# Google Analytics
google_analytics: G-MWSSNXT0LX

# Jekyll configuration

sass:
  sass_dir: _sass
  style: compressed
permalink: /:categories/:title/
highlighter: rouge
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed

plugins_dir:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-paginate

paginate: 5

collections:
  services:
    output: true
  case-studies:
    output: true
  expertise:
    output: true
  team-members:
    output: true
  advisors:
    output: true    
  careers:
    output: true 
  newsletter:
    output: true
  tag:
    output: true   
  contact:
    output: true       

defaults:
  - scope:
      path: ""
      type: "services"
    values:
      layout: "services"  
  - scope:
      path: ""
      type: "expertise"
    values:
      layout: "industry"         
  - scope:
      path: ""
      type: "case-studies"
    values:
      layout: "case-study"        
  - scope:
      path: ""
      type: "team-members"
    values:
      layout: "team-member"  
  - scope:
      path: ""
      type: "advisors"
    values:
      layout: "advisor"  
  - scope:
      path: ""
      type: "careers"
    values:
      layout: "career-listing"    
  - scope:
      path: ""
      type: "newsletter"
    values:
      layout: "newsletters" 
  - scope:
      path: ""
      type: "tag"
    values:
      layout: "tag"   
  - scope:
      path: ""
      type: "contact"
    values:
      layout: "contact"                           

include:
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
