# Site wide configuration

title: "SLKone"
description: "We build & implement bespoke solutions"
logo: 
teaser: 
locale: en
url: https://slkone.com
feed:
  path: atom.xml

# Jekyll configuration

sass:
  sass_dir: _sass
  style: compressed
permalink: /:categories/:title/
kramdown:
  toc_levels: 1..2
highlighter: rouge
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed

plugins_dir:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-paginate

collections:
  services:
    output: true
  case-studies:
    output: true
  expertise:
    output: true
  team-members:
    output: true
  advisors:
    output: true    
  careers:
    output: true    

defaults:
  - scope:
      path: ""
      type: "services"
    values:
      layout: "services"  
  - scope:
      path: ""
      type: "expertise"
    values:
      layout: "industry"         
  - scope:
      path: ""
      type: "case-studies"
    values:
      layout: "case-study"        
  - scope:
      path: ""
      type: "team-members"
    values:
      layout: "team-member"  
  - scope:
      path: ""
      type: "advisors"
    values:
      layout: "advisor"  
  - scope:
      path: ""
      type: "careers"
    values:
      layout: "career-listing"             

include:
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
