body {
	font-family: "franklin-gothic-urw",franklin gothic, helvetica, arial,sans-serif;
	color: #3A3E41;
	padding: 0;
	margin: 0;
}
.wrap {
	margin: 0px auto;
	padding: 0px 16px;
	max-width: 640px;
}
#masthead {
	background: #E0BE41;
	padding-top: 72px;
	padding-bottom: 140px;
}
h1 {
	background: url(images/logo.svg);
	display: block;
	text-indent: -3000px;
	height: 72px;
	width: 89px;
}
#masthead h2 {
	font-family: "franklin-gothic-urw-comp",franklin gothic, helvetica, arial,sans-serif;
	font-size: 56px;
	line-height: 64px;
	margin-top: 48px;
	margin-bottom: 24px;
}
#masthead p {
	line-height: 32px;
	font-size: 23px;
	font-weight: 500;
}

#contact {
	background: url(images/contact-bg.svg) center no-repeat;
	display: block;
	font-family:"franklin-gothic-urw-comp",franklin gothic, helvetica, arial,sans-serif;
	font-size: 32px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	font-weight: 700;
	padding-top: 48px;
	padding-bottom: 48px;
	margin-top: -64px;
	margin-bottom: 72px;
}
#contact a {
		font-family: "franklin-gothic-urw",franklin gothic, helvetica, arial,sans-serif;
		display: inline-block;
		font-weight: 500;
		background: #1DAB78;
		padding-left: 24px;
		padding-right: 24px;
		font-weight: normal;
		line-height: 48px;
		margin-left: 16px;
		font-size: 23px;
		width: 160px;
		text-decoration: none;
		color: #fff;
		border-radius: 4px;
}

footer {
	text-align: center;
	color: #959DA4;
}

@media only screen and (max-width : 600px) {
#masthead {
	padding-top: 16px;
	padding-bottom: 60px;
}
#masthead h2 {
	margin-top: 24px;
	margin-bottom: 16px;
}
}