{% assign case-study-slug = {{case-studies.url | remove: '/' | remove_first: "case-studies"}}" %}
<div class="case-study">
	<a href="{{ case-studies.url }}">
		<div class="case-image" style="background-image:url({% if case-studies.heroimage != empty %}
{{ site.url }}/images/{{ case-studies.heroimage }}
{% else %}
{{ site.url }}/images/case-studies/{{ case-study-slug}}.jpg
{% endif %})"></div>
		<div class="case-meta">
			<span>{{ case-studies.industries | replace: '-', ' '  | remove: '[', | remove: ']' | remove: '"'}}</span> • {{ case-studies.services-performed | replace: '-', ' '  | remove: '[', | remove: ']' | remove: '"'}}
		</div>
		<h4 class="case-study-title">{{ case-studies.title }}</h4>
	  	<div class="case-study-description">{{ case-studies.intro | truncate: 116 }}</div>
	</a>
</div>


