
<footer role="contentinfo" id="site-footer">
	<div class="newsletter">
		<div class="wrap">
			<h4> Sign up for our Newsletter</h4>
		<script id="bx24_form_inline" data-skip-moving="true">
		        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
		                (w[b].forms=w[b].forms||[]).push(arguments[0])};
		                if(w[b]['forms']) return;
		                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
		                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
		        })(window,document,'https://slkone.bitrix24.com/bitrix/js/crm/form_loader.js','b24form');

		        b24form({"id":"6","lang":"en","sec":"aqwyms","type":"inline"});
		</script>
		</div>
	</div>	
	<div class="wrap">
	<nav role="navigation" class="menu bottom-menu">
		<a href="{{ site.url }}/">Home</a> - <a href="{{ site.url }}/services">Services</a> - <a href="{{ site.url }}/deliberate-thinking">Deliberate Thinking</a> - <a href="{{ site.url }}/insights">Insights</a> - <a href="{{ site.url }}/case-studies">Case Studies</a> - <a href="{{ site.url }}/team">Team</a> - <a href="{{ site.url }}/advisory-partners">Advisors</a> - <a href="{{ site.url }}/careers">Careers</a> - <a href="{{ site.url }}/contact">Get in Touch</a>
		<div class="inline-btn">
      <a class="btn-social twitter" href="https://twitter.com/SLKone_LLC" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
      <a class="btn-social facebook" href="https://www.facebook.com/SLKoneLLC/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
      <a class="btn-social linkedin"  href="https://www.linkedin.com/company/slkone" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
    </div>
    <p>Suite 212, 510 Meadowmont Village Circle, Chapel Hill, North Carolina 27517, USA</p>
    <p class="copyright">&#169; {{ site.time | date: '%Y' }} SLKone, LLC • <a href="{{ site.url }}/terms-and-conditions">Terms &amp; Conditions</a> </p>
	</nav><!-- /.bottom-menu -->
	</div>
</footer>
