<footer role="contentinfo" id="site-footer">
	<div class="wrap">
	<nav role="navigation" class="menu bottom-menu">
		<a href="{{ site.url }}/">Home</a> - <a href="{{ site.url }}/services">Services</a> - <a href="{{ site.url }}/insights">Insights</a> - <a href="{{ site.url }}/case-studies">Case Studies</a> - <a href="{{ site.url }}/team">Team</a> - <a href="{{ site.url }}/careers">Careers</a> - <a href="{{ site.url }}/contact">Get in Touch</a>
		<div class="inline-btn">
      <a class="btn-social twitter" href="https://twitter.com/SLKone_LLC" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
      <a class="btn-social facebook" href="https://www.facebook.com/SLKoneLLC/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
      <a class="btn-social linkedin"  href="https://www.linkedin.com/company/slkone" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
    </div>
    <p class="copyright">&#169; {{ site.time | date: '%Y' }} SLKone, LLC • <a href="{{ site.url }}/terms-and-conditions">Terms &amp; Conditions</a> </p>
	</nav><!-- /.bottom-menu -->
	</div>
</footer>
