<footer role="contentinfo" id="site-footer">
	<div class="wrap">
	<nav role="navigation" class="menu bottom-menu">
		<a href="{{ site.url }}/">Home</a> - <a href="{{ site.url }}/services">Services</a> - <a href="{{ site.url }}/insights">Insights</a> - <a href="{{ site.url }}/case-studies">Case Studies</a> - <a href="{{ site.url }}/team">Team</a> - <a href="{{ site.url }}/contact">Get in Touch</a>
		<p class="copyright">&#169; {{ site.time | date: '%Y' }} SLKone, LLC • <a href="{{ site.url }}/terms-and-conditions">Terms &amp; Conditions</a> </p>
	</nav><!-- /.bottom-menu -->
	</div>
</footer>