<ul id="navigation">
	<li class="top down"><a href="{{ site.url }}/services">Capabilities</a>
		<ul>
			<li class="top"><a href="{{ site.url }}/services/Operations">Operations</a></li>
			<li class="top"><a href="{{ site.url }}/services/Corporate-Finance-and-Revenue-Management">Corporate Finance and Revenue Management</a></li>
			<li class="top"><a href="{{ site.url }}/services/Mergers-and-Acquisitions">Mergers &amp; Acquisitions</a></li>
			<li class="top"><a href="{{ site.url }}/services/Digital-Strategy-and-Technology">Digital Strategy &amp; Technology</a></li>
			<li class="top"><a href="{{ site.url }}/services/Organization-and-Human-Capital/">Organization &amp; Human Capital</a></li>
			<li class="top"><a href="{{ site.url }}/services/Deliberate-Thinking">Deliberate Thinking</a></li>
		</ul></li>
	<li class="top down"><a href="{{ site.url}}/expertise">Industries</a>
		<ul>
			<li><a href="{{ site.url }}/expertise/Healthcare">Healthcare</a></li>
			<li><a href="{{ site.url }}/expertise/Manufacturing">Manufacturing</a></li>
			<li><a href="{{ site.url }}/expertise/Oil-and-Gas">Oil and Gas</a></li>
			<li><a href="{{ site.url }}/expertise/Consumer-Goods-and-Services">Consumer Goods &amp; Services</a></li>
			<li><a href="{{ site.url }}/expertise/Private-Equity">Private Equity</a></li>
			<li><a href="{{ site.url }}/expertise/Food">Food &mp; Beverage</a></li>
			<li><a href="{{ site.url }}/expertise/Software-and-Tech">Software</a></li>
		</ul>
	</li>
	<li class="top down"><a href="{{ site.url }}/insights">Insights</a>
		<ul>
			<li><a href="{{site.url}}/tag/article">Articles</a></li>
			<li><a href="{{site.url}}/tag/newsletters">Newsletters</a></li>
		</ul>
	</li>
	<li class="top down"><a href="{{ site.url }}/team">About</a>
		<ul>
			<li><a href="{{ site.url }}/team">The Team</a></li>
			<li><a href="{{ site.url }}/advisory-partners">Advisory Partners</a></li>
			
		</ul>
	</li>
	<li class="top"><a href="{{ site.url }}/careers">Careers</a></li>
	<li class="top"><a href="{{ site.url}}/contact">Contact</a></li>
	
</ul>
<div id="mobile-nav">
	<input type="checkbox" id="op"></input>
	<div class="lower">
  <label for="op"><i class="fa fa-bars" aria-hidden="true"></i></label>
</div>
<div class="overlay overlay-hugeinc">
			<label for="op"></label>
			<nav>
			<ul>
			<li><a href="{{ site.url }}/services">Services</a></li>
			<li><a href="{{ site.url }}/deliberate-thinking">Deliberate Thinking</a></li>
			<li><a href="{{ site.url }}/tag/article">Articles</a></li>
			<li><a href="{{ site.url }}/tag/newsletters">Newsletters</a></li>
			<li><a href="{{ site.url }}/case-studies">Case Studies</a></li>
			<li><a href="{{ site.url }}/team">The Team</a></li>
			<li><a href="{{ site.url }}/advisory-partners">Advisory Partners</a></li>
			<li><a href="{{ site.url }}/careers">Careers</a></li>
			<li><a href="{{ site.url }}/contact">Get in Touch</a></li>
			</ul>
</nav>
</div>