{% assign post-slug = {{post.url | remove: '/'}}" %}
<div class="post-block post-block-wide">
	<a href="{{site.url}}{{ post.url }}">
		<div class="block-image-wrapper"><div class="block-image" style="background-image:url({% if post.heroimage != empty %}{{ site.url }}/images/{{ post.heroimage }}{% else %}{{ site.url }}/images/post/{{ post-slug }}.jpg{% endif %})"></div></div>
		<div class="block-content">
		<h4 class="h3">{{ post.title }}</h4>
	  	{% if post.intro %}<div class="block-description">{{ post.intro | truncate: 240 }}</div>{% else %}<div class="block-description">{{ post.content | markdownify | truncate: 240 | strip_html }}</div>{% endif %}
	  	<span class="btn btn-nospace">Keep Reading &#x2192;</span>
	  </div>
	</a>
</div>

