<nav class="flex flex-col items-center">
    {% for nav in site.data.header-navigation.insights %}
    <div class="group">
    <a class="p-6 flex items-center justify-between hover:text-emerald dark:hover:text-forest" href="{{ nav.url }}">
        {{ nav.title }}
        <span id="hover-indicator" class="relative bg-emerald dark:bg-forest group-hover:block w-auto rounded block h-1 mt-1 z-50 -mb-2 mx-6 {% unless is_current_page_flag %}hidden{% endunless %}"></span>
    </a>
    </div>
    {% endfor %}
</nav>
