<div class="wrap">
	<div id="team-three" class="team-section">
		<div id="the-team">
		<div class="team-member">
			<img src="/images/arun.jpg" />
			<h5>Arun Shukla</h5>
			<p>Founding Partner &amp; CEO</p>

			<ul>
				<li>Leadership &amp; Strategy</li>
				<li>Operational Excellence &amp; Execution</li>
				<li>Organizations &amp; Human Capital</li>
				<li>Revenue &amp; Sales</li>
				<li>Information Technology</li>
				<li>Business &amp; Transformational Events</li>
			</ul>
		</div>
		<div class="team-member">
			<img src="/images/phil.jpg" />
			<h5>Phil Lynch</h5>
			<p>Founding Partner &amp;  COO</p>

			<ul>
				<li>Leadership &amp; Strategy</li>
				<li>Operational Excellence &amp; Execution</li>
				<li>Organizations &amp; Human Capital</li>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
				<li>Business &amp; Transformational Events</li>
			</ul>
		</div>	
		<div class="team-member">
			<img src="/images/andrew.jpg" />
			<h5>Andrew Klemm</h5>
			<p>Founding Partner &amp;  CFO</p>

			<ul>
				<li>Leadership &amp; Strategy</li>
				<li>Operational Excellence &amp; Execution</li>
				<li>Organizations &amp; Human Capital</li>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
				<li>Business &amp; Transformational Events</li>
			</ul>
		</div>
		<div class="team-member">
			<img src="/images/antonio.jpg" />
			<h5>Antonio Morales</h5>
			<p>Partner</p>

			<ul>
				<li>Leadership &amp; Strategy</li>
				<li>Operational Excellence &amp; Execution</li>
				<li>Finance &amp; Accounting</li>
				<li>Business &amp; Transformational Events</li>
			</ul>
		</div>
		<div class="team-member">
			<img src="/images/tim.jpg" />
			<h5>Tim DeBone</h5>
			<p>Engagement Manager</p>

			<ul>
				<li>Organizations &amp; Human Capital</li>
				<li>Revenue &amp; Sales</li>
				<li>Finance &amp; Accounting</li>
				<li>Information Technology</li>
			</ul>
		</div>		
		<div class="team-member">
			<img src="/images/ben.jpg" />
			<h5>Ben Halpern</h5>
			<p>Engagement Manager</p>

			<ul>
				<li>Operational Excellence &amp; Execution</li>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
			</ul>
		</div>		
		<div class="team-member">
			<img src="/images/brian.jpg" />
			<h5>Brian Biggio</h5>
			<p>Engagement Manager</p>

			<ul>
				<li>Revenue &amp; Sales</li>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
				<li>Business &amp; Transformational Events</li>
			</ul>
		</div>	
		<div class="team-member">
			<img src="/images/christopher.jpg" />
			<h5>Christopher Burton</h5>
			<p>Managing Consultant</p>

			<ul>
				<li>Operational Excellence &amp; Execution</li>
				<li>Revenue &amp; Sales</li>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
			</ul>
		</div>	
		<div class="team-member">
			<img src="/images/casey.jpg" />
			<h5>Casey Matthews</h5>
			<p>Managing Consultant</p>

			<ul>
				<li>Operational Excellence &amp; Execution</li>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
			</ul>
		</div>			
		<div class="team-member">
			<img src="/images/dustin.jpg" />
			<h5>Dustin Fidaleo</h5>
			<p>Managing Consultant</p>

			<ul>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
			</ul>
		</div>		
	</div>
	</div>
</div>