<div class="wrap">
	<div id="team-three" class="team-section">
		<div id="the-team">
		<div class="team-member">
			<img src="../images/arun.jpg" />
			<h6>Arun Shukla</h6>
			<p>Founding Partner &amp; CEO</p>

			<ul>
				<li>Leadership &amp; Strategy</li>
				<li>Operational Excellence &amp; Execution</li>
				<li>Organizations &amp; Human Capital</li>
				<li>Revenue &amp; Sales</li>
				<li>Information Technology</li>
				<li>Business &amp; Transformational Events</li>
			</ul>
		</div>
		<div class="team-member">
			<img src="../images/phil.jpg" />
			<h6>Phil Lynch</h6>
			<p>Founding Partner &amp;  COO</p>

			<ul>
				<li>Leadership &amp; Strategy</li>
				<li>Operational Excellence &amp; Execution</li>
				<li>Organizations &amp; Human Capital</li>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
				<li>Business &amp; Transformational Events</li>
			</ul>
		</div>	
		<div class="team-member">
			<img src="../images/andrew.jpg" />
			<h6>Andrew Klemm</h6>
			<p>Founding Partner &amp;  CFO</p>

			<ul>
				<li>Leadership &amp; Strategy</li>
				<li>Operational Excellence &amp; Execution</li>
				<li>Organizations &amp; Human Capital</li>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
				<li>Business &amp; Transformational Events</li>
			</ul>
		</div>
		<div class="team-member">
			<img src="../images/ben.jpg" />
			<h6>Ben Halpern</h6>
			<p>Engagement Manager</p>

			<ul>
				<li>Operational Excellence &amp; Execution</li>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
			</ul>
		</div>		
		<div class="team-member">
			<img src="../images/christopher.jpg" />
			<h6>Christopher Burton</h6>
			<p>Managing Consultant</p>

			<ul>
				<li>Operational Excellence &amp; Execution</li>
				<li>Revenue &amp; Sales</li>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
			</ul>
		</div>	
		<div class="team-member">
			<img src="../images/casey.jpg" />
			<h6>Casey Matthews</h6>
			<p>Managing Consultant</p>

			<ul>
				<li>Operational Excellence &amp; Execution</li>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
			</ul>
		</div>			
		<div class="team-member">
			<img src="../images/dustin.jpg" />
			<h6>Dustin Fidaleo</h6>
			<p>Managing Consultant</p>

			<ul>
				<li>Finance &amp; Accounting</li>
				<li>Data, Analytics, &amp; Information Technology</li>
			</ul>
		</div>			
	</div>
	</div>
</div>
