<div class="testimonials">	
	<div class="wrap">
		<h4>What makes us different</h4>
		<div class="quote">
			<p>I found you to listen more intently and more genuinely than many other firms. Also, you pushed back and helped redirect when needed in a very professional manner.</p>
			<span class="byline">A PE portfolio leader</span>
		</div>
		<div class="quote">
			<p>Deep expertise coupled with a humility and ability to engage with and build consensus with all levels of management”</p>
			<span class="byline">A next generation senior executive of an iconic brand</span>
		</div>
		<div class="quote">
			<p>Wisdom and foresight to manage the strategy and direction of change with the competency and grit to execute in partnership to achieve the strategy</p>
			<span class="byline">A next generation senior executive of an iconic brand</span>
		</div>
		<div class="quote">
			<p>You guys were the only ones who didn’t brag up your expertise in my industry. You brought basic commonsense and facts from smart analytics together; rolled up the sleeves and got to work.</p>
			<span class="byline">A senior leader who has hired us in numerous mission critical situations</span>
		</div>		
	</div>
</div>