.advisors, .advisor-page {
	.wrap {
		max-width: 1024px;
	}
	h6 {
		text-align: center;
	}
}

.advisors-section {
	margin: 40px 0;
}

#advisory-partners {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.advisor {
	a {
	text-decoration: none;
		p, ul {
			color: $text-color;
		}
	}
	text-align: center;
	margin-bottom: 40px;
	width: 100%;
	@include media($medium) {
		width: 33%;
	}	
	@include media($large) {
		width: 25%;
	}		
	img {
		background: $border-color;
		border-radius: 200px;
		display: block;
		max-width: 120px;
		@include media($medium) {
						max-height: 200px;
				max-width: 200px;
			}			

		margin: 0 auto 12px auto;
	}
	h6 {
		display: block;
		width: 100%;
		margin-bottom: 0px;
		text-align: center;
	}
	p {
		display: block;
		width: 100%;
		margin: 0px;
		margin-bottom: 16px;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		font-size: 14px;
		opacity: 0.5;
	}
}

.advisor-page {
	@include media($medium) {
		padding-top: 150px;
	}
	h2 {
		text-align: center;
	}
	.advisor-image {
	background: $border-color;
		border-radius: 200px;
		display: block;
		max-height: 200px;
		max-width: 200px;
		margin: 0 auto 12px auto;
	}
	.emphasis {
		margin-top: -100px;
		margin-bottom: 32px;
		padding-top: 100px;
		h6 {
			text-align: center;
		}
	}
	a.social {
		margin: 0px auto 32px auto;
	}
}