.btn {
	color: $link-color;
	padding: 11px 16px;
	border: 0px solid $link-color;
	border-radius: $border-radius;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	@include font-size(14);
	text-decoration: none;
}

.btn:hover {
	color: darken($link-color,10);
}

.btn-filled {
	@extend .btn;
	color: $white;
	background: $link-color;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20), 0 1px 3px 0 rgba(0,0,0,0.10);
	transition: box-shadow 0.3s ease-in-out;
}

.btn-filled:hover {
	color: $white;
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.26), 0 10px 20px 0 rgba(0,0,0,0.19);
	transition: box-shadow 0.1s ease-in-out;

}

.btn-filled:active {
	color: darken($white,10);
	background: darken($link-color,10);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.0), 0 1px 3px 0 rgba(0,0,0,0.0);
}

.btn-outline {
	@extend .btn;
	border-width: 2px;
	border-color: link-color;
}

.btn-outline:hover {
	@extend .btn;
	border-width: 2px;
	border-color: darken($link-color,10);
}

.btn-social {
	@extend .btn-filled;
	i {
		margin-right: 8px;
	}
}

.twitter {
	background-color: #38A1F3;
}

.facebook {
	background-color: #3b5998;
}

.linkedin {
	background-color: #0077B5;
}