#masthead {
	padding: $gutter;
	.inner-wrap {
		@include outer-container;
		@include display(flex);
		@include media($medium) {
			padding: 24px 0px;
			@include align-items(center);
		}
	}
}
#contact-form {
	@include media($medium) {
		@include span-columns(6);
	}
	@include media($large) {
		@include span-columns(7);
	}
}
#contact-info {
	@extend .emphasis;
	padding-bottom: 12px;
	@include media($medium) {
		@include span-columns(6);
	}	
	@include media($large) {
		@include span-columns(5);
	}
}
#contact-info h3 {
	a {
	color: $comp-color;
	text-decoration: none;
	}
	@include media($micro) {
		@include font-size(20);
	}	
}

/* Contact Page */
.qr-code {
	background: $white;
	width: 180px;
	height: 180px;
	display: block;
	border: 20px solid $white;
	background-size: cover;
	margin: 0 auto;
}

.contactpage {
	padding-bottom: $section-spacing*2;
	text-align: center;
	.page-title {
	background: url(../images/eyebrow-three.svg) top center no-repeat, url(../images/eyebrow-four.svg) bottom center no-repeat; 
	padding:$section-spacing-small 0;
	margin: $section-spacing-small 0;
	}
	h4 {
	margin-bottom: $section-spacing-small;
	padding-bottom: $section-spacing-small;
	background: url(../images/eyebrow-one.svg) bottom center no-repeat;
	}
	.header-right {
		display: none;
	}
	.header-left {
	width: 100%;
	flex: 100%;
	max-width: 100%;
	h1.logo {
		font-size: 1.41em;
		margin-left: -20px;
	}
		.logo-link {
		margin: 0px auto;
		max-width: 280px;
		}
	}
}

a.download-vcard {
	background-color: $primary;
	color: $body-dark;
	display: block;
	position: fixed;
	bottom: $section-spacing-small;
	z-index: 1000;
	margin: 0px auto;
	width: 50%;
	left: 25%;
	@include media-breakpoint-up(md) { 
		display: none;
	}
}