.deliberate {
	h2 {
	text-align: center;
	margin-bottom: 64px;
	margin-top: -24px;
	}
}
#deliberate-two, #deliberate-five {
	max-width: 1024px;
	@include media($medium) {
		margin: 48px auto;
	}
}

#deliberate-one, #deliberate-two {
	@include media($medium) {
		h6 {
		text-align: center;
		}
	}
}

#deliberate-two, #deliberate-three {
	h3 {
		margin: 24px 0;
		strong {
			font-weight: 900;
		}
	}
	@include media($medium) {
		max-width: 1200px;
		margin: 32px auto;
		padding: 24px 0px;
		h3 {
			text-align: right;
			padding-right: 24px;
		}
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: stretch;
		div {
			width: 50%;
			padding: 0px 16px;
		}	
		.emphasis {
			background: $comp-color;
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			ul {
				display: flex;
				margin:0;
				flex-wrap: wrap;
				justify-content: center;
				align-content: stretch;
				padding: 0;
				li {
					@include font-size(20,yes,28);
					display: block;
					padding: 0 8px;
					margin: 0 0 8px 0;
						&:nth-child(odd) {
							margin-right:1.17%;
						}
						width: 48.82117%;
				}
			}
		}
	}
}

#deliberate-two {
	@include media($medium) {
		padding: 32px;
	}
}


#deliberate-four {
	text-align: center;
	h5 {
		margin: 0;
		position: relative;
		bottom: -24px;
	}
}

#deliberate-five {
	margin-top: 0;
	padding: 0;
	div:first-child, div:nth-child(2) {
		padding: 24px;
		padding-top: 48px;
	}
	div:first-child {
		padding-bottom: 0;
	}
	div:nth-child(3) {
		background: $comp-color;
		padding:24px;
		border-radius: $border-radius;
		border-radius-top-left: 0;
		border-radius-top-right: 0;
	}
}