.home {
	overflow: hidden;
	display: block;
}

.home .wrap {
	padding-top: 0;
}

.slide {
	margin: 0px;
	text-align: left;
	padding: 0px;
}

#slide-one {
	@include display(flex);
	justify-content: space-between;
	background: $base-color-dark;
	max-height: 60vh;
	padding-bottom: $gutter;
	@include media($large) {
		min-height: 500px;
	}
	h2 {
		color: $white;
		margin-top: $gutter;
	}
	.slide-text {
		color: $white;
		padding: 12vh $gutter;
		@include media($medium) {
		    padding: 8vw $gutter;

		}
		@include media($large) {
			padding: 8vh 1vw 8vh 6vw;
			width: 53vw;
			text-align: left;
		}
	}
	.slide-image {
	background:url(../images/superellipse.svg) center no-repeat;
	width: 50vw;
	height: 45vh;
	min-height: 350px;
	align-self: center;
	display: none;
		@include media($large) {
		display: block;
		margin: $gutter;
		}
	&::after {
		background: $base-color-dark;
		display: block;
		content: "";
	}	
	}
}

#slide-two {
	background-color: $caption-color;
	.wrap {
	padding-top: $gutter;
	padding-bottom: 0;
	margin-bottom: -$gutter/2;
	h3 {
	margin-bottom: 0;
	}
	}
}

.slide h3 {
	text-align: left;
}

.slide a.btn {
	margin: 24px 0px;
	clear: both;
	display: inline-block;
}

.slide ul {
	padding: 0;
	margin: 0;
}

.slide li {

	background-position: center left;
	text-align: left;
	
	min-height: auto;
	
	display: block;
	background-repeat: no-repeat;
	min-height: auto;
	width: 100%;
	padding: 12px 0px 12px 32px;
	@include media($small) {
		float: left;
		width: 50%;
		padding: 12px 24px 12px 32px;
	}
	@include media($medium) {
		text-align: center;
		background-position: top center;
		background-size: 32px 32px;
		font-size: 1.25rem;
		padding: 48px 0px 24px 0px;
		min-height: 128px;
	}
}

#slide-two li {
    @include media($medium) {
    	width: 25%;
    }	
}

#slide-three {
	padding: $gutter 0;
	background: $white;
	text-align: center;
	.post-blocks-wrap {
		background: $white;
	}
}

#slide-four {
	padding: $gutter*2 0;
	background: darken($comp-color,10%);
	li {
		@include media($medium) {
			text-align: center;
			float: left;
			width: 20%;
		}
	}
	.team-member {
		border-radius: 60px;
		float: left;
		margin: 0;
		margin-left: -16px;
		&:first-child {
			margin-left: 0px;
		}
		width: 120px;
		height: 120px;
		img {
		border: 4px solid darken($comp-color,10%);
		}
	}
	h3,h5 {
	  text-align: left;
	  color: $white;
	  margin-bottom: 0;
		}
	.btn {
		color: $white;
		border-color: $white;
		display: inline-block;
		margin-bottom: 0;
	}
	@include media($medium) {
		.team {
			width: 40%;
		}
		.team-content {
			width: 60%;
		}
		.team-wrap { 
		@include display(flex);
		}
	}
}

.slide p {
	font-size: 1.25rem;
	max-width: 1024px;
	margin: 0px auto 32px;
}


/*
   Testimonials
   ========================================================================== */

.quote {
	text-align: left;
	padding-left: 40px;
	@include media($small) {
			@include span-columns(4);
	}	
	&:before {
		content: "“";
		@include font-size(96);
		opacity: 0.5;
		position: absolute;
		margin-left: -40px;
		margin-top: -16px;
	}
}

.quotes .quote {
	@include media($small) {
			@include span-columns(6);
	}	
}

.byline {
	display: block;
	text-align: right;
	opacity: 0.5;
	margin-bottom: 32px;
}
