.home .wrap {
	padding-top: 0;
}

#slidorion {
	width: 100%;
	position: relative;
}

#slider {
	height: 647px;			/* Set to slider height */
	position: relative;
	float: left;
	display: none;
	@include media($medium) {
		@include span-columns(6);
		display: block;
	}
	overflow: hidden;		/* Hides the animations */
}

.slider-image {
	background: $white;
	position: relative;
	padding: 0;
}

#accordion {
	background: $white;
	@include media($medium) {
		@include span-columns(6);
	}
	position: relative;
	z-index:999;
	float: left;
	.header {
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 24px 24px;
		line-height: 64px;
		font-size: 20px;
		@include media($medium) {
			line-height: 72px;
			font-size: 24px;
		}	
		border: none;
		padding-bottom: 0;
		
		padding: 0;
		margin: 0;
		padding-left: 40px;
		a {
			background: none;
			color: $body-color;
			text-decoration: none;
			display: block;
		}	
		a:hover {
			cursor: pointer;
		}
		border-top: 1px solid lighten($primary-color, 90);
		&:nth-child(2) {
			border: 0;
		}
	}
	.content {
		padding: 0 0 32px 0;
		margin: 0px 0 0 40px;
		border: none;
		overflow:auto;
		img {
			display: block;
			width: 50%;
			margin: 0px auto;
		}
		@include media($medium) {
		img {
			display: none;
			}
		}			

		p {
			margin: 0;
			margin-bottom: 12px;
			padding: 0;
		}
		p:nth-child(2) {
		margin-bottom: 24px;
		}
		a {
		margin-top: 12px;
		}
	}

}
