
/* ==========================================================================
   Page layout
   ========================================================================== */

/*
   Masthead
   ========================================================================== */

#masthead {
	background-color: #ffffff; // Old browsers
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	z-index: 10;
	@include media($small) {
		position: absolute;
	}
	width: 100%;
	.inner-wrap {
		@include media($small) {
			padding: 24px 0px 0px 0px;
		}		
		@include media($medium) {
			padding: 0px;
		}
	@include media($micro) {
		padding-bottom: 0;
	}		
	}
	#mast-position {
	width: 100%;
	@include media($small) {;
		@include display(flex);
		padding: 0px;
		@include align-items(center);
		@include justify-content(space-between)
		}
	}
	padding: 0;
}
h1#logo {
	background-image: url(../images/logo-hover.svg);
	background-size: 0;
	margin: 0;
	padding: 0;
	a {
	display: block;
	@include media($small) {
		margin: 0;
	}
	background-image: url(../images/logo-light.svg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 56px;
	width: 70px;
	@include hide-text;
		@include media($medium) {
			width: 90px;
			height: 72px;
		}
	&:hover {
		background-image: url(../images/logo-hover.svg);
	}
	}

}


/*
   Menu
   ========================================================================== */

.menu {
	#navigation {
		display: none;
		@include media($medium) {
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
		z-index: 12;
		ul {
			position: absolute;
			background-color: $white;
			background-size: 0 0;
			border-radius: $border-radius;	
			transition: all 0.3s ease-in-out;
			opacity: 0;
			padding: 8px 0px;
			transform: scale3d(0.76, 0.76, 0.76);
			@include media($micro) {
				display: block;
			}
			li {
				opacity: 0;
				padding-top: 4px;
				padding-bottom: 4px;
				transition: all 0.4s ease-in-out;
			}
		}
		li:hover ul {
			box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20), 0 1px 3px 0 rgba(0,0,0,0.10);
			display: block;
			opacity: 1;
			transition: all 0.2s ease-in-out;
			margin-left: 0px;
			margin-top: 0px;
			z-index: 11;
			transform: scale3d(1,1,1);
			li {
				opacity: 1;
				transition: all 0.2s ease-in-out;
			}
			li:hover {
				background: rgba(0,0,0,.05);
			}
			a {
				padding: 12px 16px;
			}
			&:hover {
				box-shadow: 0 6px 6px 0 rgba(0,0,0,0.26), 0 10px 20px 0 rgba(0,0,0,0.19);
				transition: all 0.2s ease-in-out;
			}
			&:pressed {
				box-shadow: 0;
				transition: all 0.2s ease-in-out;
			}
		}
		}
	}	
	li.top {
		a {
			padding: 16px;
			@include media($micro) {
			padding: 12px 0px;
			margin: 0;
			text-align: center;			
			}
			@extend .btn;
		}
		&:last-child {
			@include media($micro) {
			position: absolute;
			right: $gutter;
			top: 44px;
			}
		}
	}

	#contact-button {
		@include media($micro) {
			width: 126px;
			height: 40px;
			text-align: center;
		}
		@extend .btn-filled;
		@include media($small) {
		margin-left: 16px;}
	}
}

/*
   Page wrapper
   ========================================================================== */

.wrap {
	padding: $gutter;
	@include media($large) {
	padding:0;
	}
}

/*
   Main content
   ========================================================================== */

#main {
	margin-top: $gutter;
	@include media($small) {
		margin-top: 0px;
	}
	.inner-wrap {
		@include media($medium) {
			@include span-columns(9);
		}
	}
	.page-title {
		background-size: cover;
		background-position: center center;
		text-align: center;
		@include media($micro) {
			.wrap {
				padding-bottom: 0;
			}
		}
		@include media($small) {
			.wrap {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.background-overlay {
			background: -moz-linear-gradient(top,  rgba(255,255,255,.75) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(top,  rgba(255,255,255,.75) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,.75) 0%,rgba(255,255,255,1) 100%);
			@include media($small) {
				padding-top: 144px;
				padding-bottom: 0px;
			}
			@include media($medium) {
				padding-top: 172px;
				padding-bottom: 32px;
			}
		}
		h2 {
			max-width: 1024px;
			margin: 0px auto 8px auto;
			@include media($large) {
				margin-bottom: 16px;
			}
		}
		p.intro {
			@include media($medium) {
				@include font-size(24,yes,28);
			}
			font-weight: medium;
			color: rgba(0,0,0,.7);
			font-style: italic;
			max-width: 1024px;
			margin: 0px auto 24px auto;
		}
	}
	@at-root {
		.page-content {
			@include fill-parent;
			// larger font for intro paragraph
			> p {
				&:first-child {
					@include font-size(20,yes,30);
				}
			}
			// cleaner underlines for links
			a { text-decoration: none; }
			p a,
			li a {
				border-bottom: 1px dotted lighten($link-color, 50);
				&:hover {
					border-bottom-style: solid;
				}
			}
			p > a.reversefootnote {
				border-bottom-width: 0;
			}
      .toc li > a {
        border-bottom-width: 0;
      }
			.page-footer,
			.pagination {
				@include fill-parent;
			}
			.page-meta {
				p{
					@include font-size(14,no);
					font-family: $alt-font;
					color: lighten($black,60);
				}
			}
		}
	}
	@at-root {
		.archive-wrap {
			@include fill-parent;
			.page-content {
				@include reset-all;
				@include fill-parent;
			}
		}
	}
  /* advertisements */
	.ads {
		position: relative;
		text-align: center;
		margin-top: $gutter;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding: 10px 0 20px;
		background: lighten($border-color,5);
		@include media($medium) {
			@include span-columns(3);
			margin-left: 0;
			margin-right: 0;
		}
		&:after {
			content: 'Advertisement';
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			display: block;
			@include font-size(9,no);
			font-family: $alt-font;
		}
		ins {
			border-width: 0;
		}
	}
}
// page lead
.page-lead {
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	color: $white;
	@include media($large) {
		background-size: cover;
	}
}
.page-lead-content {
	padding: 1em;
	@include media($medium) {
		padding: 2em;
	}
	@include media($large) {
		padding: 3em;
	}
	h1 {
		@include font-size(48);
		@include media($medium) {
			@include font-size(60);
		}
		@include media($large) {
			@include font-size(72);
		}
	}
	h2 {
		@include font-size(20);
		@include media($medium) {
			@include font-size(24);
		}
		@include media($large) {
			@include font-size(32);
		}
	}
}
// page header
.page-feature {
	@include fill-parent;
	// expand image to cover full width of header
	img {
		width: 100%;
	}
}
// make image flush with edges on small screens
.page-image {
	position: relative;
	margin-left: -1 * $gutter;
	margin-right: -1 * $gutter;
	// feature image caption
	.image-credit {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 auto;
		padding: 10px 15px;
		background-color: rgba($black,.5);
		color: $white;
		font-family: $alt-font;
		@include font-size(12,no);
		text-align: right;
		z-index: 10;
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

/*
   Page footer
   ========================================================================== */

.page-footer {
	position: relative;
}

/* Author block */

.author-image {
	position: absolute;
	left: 0;
	img {
		width: 80px;
		height: 80px;
		border-radius: $border-radius;
	}
}
.author-content {
	word-wrap: break-word;
	padding-left: 100px; //avatar width + 20px padding
	min-height: 80px; //mirrors avatar height
}
.author-name {
	@include font-size(20,no);
}
.author-bio {
	margin-top: 0;
	@include font-size(16);
}

/*
   Site footer
   ========================================================================== */

#site-footer {
	background: $base-color;
	border-top: 4px solid $comp-color;
	margin-top: 32px;
	text-align: center;
	clear: both;
	padding: 48px 0 32px;
	a {
		color: $link-color;
	}
}


/*
   Emphasis Boxes
   ========================================================================== */

.emphasis {
	border: 3px solid $comp-color;
	border-radius: $border-radius;
	padding: 24px;
}


#hero-hide {
	height: 0px;
	opacity: 0;
}


/* Mobile Nav */
#mobile-nav {
		.lower{
			height: 44px;
			width: 44px;
	  		position: absolute;
			top: 22px;
			right: 22px;
		}
		input{
		  display:none;
		}

		.lower label{
			background: none;
		  font-size:32px;
		  text-align:center;
		}

		.lower label:hover{
		  cursor:pointer;
		}

		.overlay{
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: $link-color;
			z-index: 999;
		}

		.overlay label{
			width: 58px;
			height:58px;
			position: absolute;
			right: 20px;
			top: 20px;
			background: url('https://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png');
			z-index: 100;
		  cursor:pointer;
		}

		.overlay nav {
			text-align: center;
			position: relative;
			top: 50%;
			height: 60%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}

		.overlay ul {
			font-size: 18px;
			list-style: none;
			padding: 0;
			margin: 0 auto;
			display: inline-block;
			height: 100%;
			position: relative;
			min-width: 240px;
		}

		.overlay ul li {
			text-align: center;
			display: block;
			line-height: 44px;
			border-bottom: 1px solid rgba(255,255,255,.2);
			color: white;
			ul {
				width: 100%;
				padding-bottom: 8px;
				height: auto;
				li {
					font-size: 16px;
					border: 0;
					a {
					opacity: 0.75;
					}
				}
			}
			&:last-child {
				border: 0;
			}
		}

		.overlay ul li a {
			font-weight: 300;
			display: block;
			color: white;
		  text-decoration:none;
		}

		.overlay ul li a:hover,
		.overlay ul li a:focus {
			color: #849368;
		}

		.lower~.overlay-hugeinc{
			opacity: 0;
			visibility: hidden;
		}

		#op:checked~.overlay-hugeinc{
			opacity: 1;
			visibility: visible;
		}

		.overlay-hugeinc nav {
			-moz-perspective: 300px;
		}

		.overlay-hugeinc nav ul {
			opacity: 0.4;
			-webkit-transform: translateY(-25%) rotateX(35deg);
			transform: translateY(-25%) rotateX(35deg);
		}

		#op:checked~.overlay-hugeinc nav ul {
			opacity: 1;
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
		}

		#op:not(:checked)~.overlay-hugeinc nav ul {
			-webkit-transform: translateY(25%) rotateX(-35deg);
			transform: translateY(25%) rotateX(-35deg);
		}
	@include media($medium) {
		display: none;
	}
}