#masthead {
	background: $primary-color;
	padding-top: em(72);
	padding-bottom: em(72);
	h1 {
		background: url(/images/logo.svg);
		display: block;
		text-indent: -3000px;
		height: 72px;
		width: 89px;
	}
	#masthead h2 {
		font-size: 56;
	}
	#masthead p {
		font-size: 23;
		font-weight: 700;
	}
	.inner-wrap {
		@include outer-container;
	}	
}

#contact {
	background: $base-color;
	font:$heading-font;
	font-size: 32;
	color: $white;
	a {
		display: block;
		font-weight: 500;
		background: $secondary-color;
		padding-left: em(24);
		padding-right: em(24);
		line-height: em(48);
		font: $base-font;
		font-size: 23;
	}
}