
/*
   Masthead
   ========================================================================== */

#masthead {
	background: $base-color-dark;
	z-index: 10;
	width: 100%;
	position: sticky;
	top: 0px;
	padding: 0px  !important;
	@include media($medium) {
		padding-top: $gutter !important;
		top: -$gutter;
	}
	#mast-position {
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0px auto;
		padding-top: $gutter/2;
		padding-bottom: $gutter/2;
		@include display(flex);
		@include align-items(center);
		justify-content: space-between;
		@include media($medium) {
			padding-top: $gutter;
			padding-bottom: $gutter;
			justify-content: flex-start;
		}
		&::after {
			display: none;
		}
	}
}
h1#logo {
	margin: 0;
	@include span-columns(3);
	a {
	display: block;
	@include media($small) {
		margin: 0;
	}
	background-image: url(../images/logo-light.svg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 40px;
	width: 65px;
	transition: all .2s ease-in-out; 
	@include media($medium) {
		height: 62px;
		width: 100px;
	}
	@include hide-text;
	&:hover {
		opacity: 0.5;
	}
	}
	z-index: 999;
}


/*
   Page wrapper
   ========================================================================== */

.wrap {
	padding: $gutter;
}

/*
   Main content
   ========================================================================== */

#main {
	.content {
		padding-bottom: 32px;
	}
	margin-top: 0;
	@include media($small) {
		margin-top: 0px;
	}
	.inner-wrap {
		@include media($medium) {
			@include span-columns(9);
		}
	}
	.page-title {
		background-color: $base-color-dark;
		background-size: cover;
		background-position: center center;
		text-align: left;
		color: $white;
		@include media($micro) {
			.wrap {
				padding-bottom: 0;
			}
		}
		@include media($small) {
			.wrap {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.background-overlay {
			background: linear-gradient(to bottom, rgba($base-color-dark,1) 0%, rgba($base-color-dark,.75) 100%);
			padding-top: 10vh;
			padding-bottom: 10vh;
			@include media($medium) {
				padding-top: 10vh;
				padding-bottom: 10vh;
			}
		}
		h2 {
			color: $white;
			margin: 0px auto 8px auto;
			@include media($large) {
				margin-bottom: $gutter/4;
			}
		}
		h5 {
			color:rgba($white,0.5);
			text-transform: uppercase;
			a {
				text-decoration: none;
			}
		}
	}
	@at-root {
		.page-content {
			@include fill-parent;
			// larger font for intro paragraph
			> p {
				&:first-child {
					@include font-size(20,yes,30);
				}
			}
			// cleaner underlines for links
			a { text-decoration: none; }
			p a,
			li a {
				border-bottom: 1px dotted lighten($link-color, 50);
				&:hover {
					border-bottom-style: solid;
				}
			}
			p > a.reversefootnote {
				border-bottom-width: 0;
			}
      .toc li > a {
        border-bottom-width: 0;
      }
			.page-footer,
			.pagination {
				@include fill-parent;
			}
			.page-meta {
				p{
					@include font-size(14,no);
					font-family: $alt-font;
					color: lighten($black,60);
				}
			}
		}
	}
	@at-root {
		.archive-wrap {
			@include fill-parent;
			.page-content {
				@include reset-all;
				@include fill-parent;
			}
		}
	}
  /* advertisements */
	.ads {
		position: relative;
		text-align: center;
		margin-top: $gutter;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding: 10px 0 20px;
		background: lighten($border-color,5);
		@include media($medium) {
			@include span-columns(3);
			margin-left: 0;
			margin-right: 0;
		}
		&:after {
			content: 'Advertisement';
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			display: block;
			@include font-size(9,no);
			font-family: $alt-font;
		}
		ins {
			border-width: 0;
		}
	}
}
// page lead
.page-lead {
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	color: $white;
	@include media($large) {
		background-size: cover;
	}
}
.page-lead-content {
	padding: 1em;
	@include media($medium) {
		padding: 2em;
	}
	@include media($large) {
		padding: 3em;
	}
	h1 {
		@include font-size(48);
		@include media($medium) {
			@include font-size(60);
		}
		@include media($large) {
			@include font-size(72);
		}
	}
	h2 {
		@include font-size(20);
		@include media($medium) {
			@include font-size(24);
		}
		@include media($large) {
			@include font-size(32);
		}
	}
}
// page header
.page-feature {
	@include fill-parent;
	// expand image to cover full width of header
	img {
		width: 100%;
	}
}
// make image flush with edges on small screens
.page-image {
	position: relative;
	margin-left: -1 * $gutter;
	margin-right: -1 * $gutter;
	// feature image caption
	.image-credit {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 auto;
		padding: 10px 15px;
		background-color: rgba($black,.5);
		color: $white;
		font-family: $alt-font;
		@include font-size(12,no);
		text-align: right;
		z-index: 10;
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

/*
   Page footer
   ========================================================================== */

.page-footer {
	position: relative;
}

/* Author block */

.author-image {
	position: absolute;
	left: 0;
	img {
		width: 80px;
		height: 80px;
		border-radius: $border-radius;
	}
}
.author-content {
	word-wrap: break-word;
	padding-left: 100px; //avatar width + 20px padding
	min-height: 80px; //mirrors avatar height
}
.author-name {
	@include font-size(20,no);
}
.author-bio {
	margin-top: 0;
	@include font-size(16);
}

/*
   Site footer
   ========================================================================== */

#site-footer {
	background: $comp-color-dark;
	color: rgba($white,.35);
	text-align: left;
	clear: both;
  h2#footer-logo {
	background-image: url(../images/logo-white.svg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 88px;
	width: 142px;
	display: none;
	@include media($medium) {
		display: block;
	}
	@include hide-text;
	}
}


.footer-one {
	@include media($medium) {
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
		margin-bottom: $gutter*3;
	}
	padding: $gutter 0;
	.social-btn {
		a {
			color: rgba($white,.5);
			font-size: 1.25em;
			margin-right: 0;
			&:hover {
			color: $link-color;
			}
		}
	}
}

.footer-two {
	@include media($medium) {
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
	}
	a {
		margin-right: $gutter/2;
		color: rgba($white,.5);
		&:hover {
			color: $link-color;
		}
	}
	
}

.footer-three {
	padding: $gutter/2 0;
	margin-bottom: $gutter*2;
	@include media($medium) {
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
	}
}



#mc_embed_signup {
	h5 {
	color: $white;
	text-align:left;
	}
	#mc_embed_signup_scroll {
		@include media($large) {
			h4 {
			text-align: left;
			}
			@include display(flex);
			@include justify-content(space-between);
			@include align-items(center);
		}
	}
	.form_content {
		@include display(flex);
		@include justify-content(flex-start);
		@include align-items(center);
	}
	background: $comp-color-dark;
	color: $white;
	padding: $gutter*2 0;
	  .mc-field-group {
	      margin-right: $gutter/2;
	  }
    label,input {
    	color: $white;
    	background: $comp-color-dark;
    	min-width: 8em;
	}
	input {
		min-height: 2em;
	}
	.btn-filled {
		background: $white;
		color: $comp-color;
		line-height: 35px;
		position: relative;
		top: -2px;
	}
    #mc_embed_signup {
	    color: $white;
	    max-width: 640px;
	    margin: 0px auto;
	    h3 {
		    color: $white;
	    }
    }
    #mce-EMAIL {
    	min-width: 12em;
		@include media($medium) {
		min-width: 24em;
		}
    }
}


/*
   Emphasis Boxes
   ========================================================================== */

.emphasis {
	border: 3px solid $comp-color;
	border-radius: $border-radius;
	padding: 24px;
	h6 {
		margin-top: 1.5rem;
	}
}

.emphasis-alt {
	border-radius: $border-radius;
	background: $link-color;
	color: $white;
	padding: 24px;
	h6 {
		margin-top: 1.5rem;
	}
}


#hero-hide {
	height: 0px;
	opacity: 0;
}


/* Mobile Nav */
#mobile-nav {
		.lower{
			height: 44px;
			width: 44px;
	  		position: absolute;
			top: 28px;
			right: 16px;
			color: $white;
		}
		input{
		  display:none;
		}

		.lower label{
			background: none;
		  font-size:32px;
		  text-align:center;
      margin: 0;
		}

		.lower label:hover{
		  cursor:pointer;
		}

		.overlay{
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: $link-color;
			z-index: 999;
		}

		.overlay label{
			width: 58px;
			height:58px;
			position: absolute;
			right: 20px;
			top: 20px;
			background: url('https://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png');
			z-index: 100;
		  cursor:pointer;
		}

		.overlay nav {
			text-align: center;
			position: relative;
			top: 50%;
			height: 60%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}

		.overlay ul {
			font-size: 18px;
			list-style: none;
			padding: 0;
			margin: 0 auto;
			display: inline-block;
			height: 100%;
			position: relative;
			min-width: 240px;
		}

		.overlay ul li {
			text-align: center;
			display: block;
			line-height: 44px;
			border-bottom: 1px solid rgba(255,255,255,.2);
			color: white;
			ul {
				width: 100%;
				padding-bottom: 8px;
				height: auto;
				li {
					font-size: 16px;
					border: 0;
					a {
					opacity: 0.75;
					}
				}
			}
			&:last-child {
				border: 0;
			}
		}

		.overlay ul li a {
			font-weight: 300;
			display: block;
			color: white;
		  text-decoration:none;
		}

		.overlay ul li a:hover,
		.overlay ul li a:focus {
			color: #849368;
		}

		.lower~.overlay-hugeinc{
			opacity: 0;
			visibility: hidden;
		}

		#op:checked~.overlay-hugeinc{
			opacity: 1;
			visibility: visible;
		}

		.overlay-hugeinc nav {
			-moz-perspective: 300px;
		}

		.overlay-hugeinc nav ul {
			opacity: 0.4;
			-webkit-transform: translateY(-25%) rotateX(35deg);
			transform: translateY(-25%) rotateX(35deg);
		}

		#op:checked~.overlay-hugeinc nav ul {
			opacity: 1;
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
		}

		#op:not(:checked)~.overlay-hugeinc nav ul {
			-webkit-transform: translateY(25%) rotateX(-35deg);
			transform: translateY(25%) rotateX(-35deg);
		}
	@include media($medium) {
		display: none;
	}
}

.page-bottom {
	background: darken($comp-color,10%);
	text-align: left;
	h4,h5 {
	  text-align: left;
	  color: $white;
	  margin-bottom: 0;
		}
	.btn {
		color: $white;
		border-color: $white;
		display: block;
		margin-bottom: 0;
		margin-left: $gutter;
		}
	.bottom-link {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        @include flex-wrap(nowrap);
	}
}


#announcement {
  width: 100%;
  background: $link-color;
  position:absolute;
  z-index: 999;
  text-align: center;
  padding: 2px 0;
  a {
    color: $white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: .875rem;
    text-transform: uppercase;
  }
}


body .b24-form {
  padding-top: 32px;
  padding-bottom: 32px;
  .b24-form-header-title, .b24-form-header-description, input  {
  font-family: "franklin-gothic-urw",sans-serif !important;
  }
  .b24-form-header-title {
    font: 500 24px/33px "franklin-gothic-urw",sans-serif !important;
  }
  .b24-form-btn {
    @extend .btn-filled;
  }
  .b24-form-sign {
    display: none !important;
  }
}

/* Post Block */
.post-block {
	a {
		margin: 0 !important;
		text-decoration: none;
	}
	
}


.post-block {
	background-color: $white;
	a {
		margin: 0 !important;
		text-decoration: none;
		&:hover {
		.block-image {
			transform: scale(1.1);
			transition: all .2s ease-in-out; 
		}
		}
	}
	.block-image-wrapper {
		width: 100%;
		overflow: hidden;
	}	
	.block-image {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 10em;
		transition: all .2s ease-in-out; 
	}
	.block-content {
		color: $body-color;
		padding: $gutter;
		text-align: left;
	}
	@include media($medium) {
		a {
			align-items: center;
		}
		.block-image {
			height: 16em;
		}
     	.block-content {
     	padding: $gutter;
     	}
	}
	@include media ($large) {
		.block-image {
			height: 20em;
		}
	}
	.block-meta {
		@extend .btn;
		padding: 0px;
	}
}


.post-block-wide {
	width: 100%;
	max-width: 100%;
	a {
	width: 100%;
		&:hover {
		.block-image {
			transform: scale(1.1);
			transition: all .2s ease-in-out; 
		}
		}
	}
	.block-image-wrapper {
		width: 100%;
		overflow: hidden;
	}
	.block-image {
	height: 16em;
	transition: all .2s ease-in-out; 
	}
	.block-content {
	padding: $gutter;
	text-align: left;
	}
	.block-description {
		font-size: 1.2em;
	}
	@include media($medium) {
		a {
			@include display(flex);
			align-items: center;
		}
		.block-image {
			height: 36em;
		}
		.block-image-wrapper, .block-content {
        	width: 50%;
     	}
     	.block-content {
     	max-width: 53.5em;
     	padding: $gutter*2;
     	}
	}
	@include media ($large) {
		.block-image {
			height: 50em;
		}
	}
	&:nth-child(even) {
		.block-image-wrapper {
			order: 2;
		}
		a {
			justify-content: flex-end;
		}
	}
	.btn {
	display: block;
	margin: $gutter 0;
	}
}
.post-blocks-wrap {
	background-color: $caption-color;
	padding: $gutter;
	text-align: center;
}

.post-blocks-medium {
	max-width: 71.875em;
	margin: $gutter auto;
	@include display(flex);
	@include flex-wrap(wrap);
	justify-content: flex-start;
    .post-block-masonry {
	    .post-block {
		    	margin-bottom: $gutter;
	    }
	     @include media ($medium) {
	    	width: 50%;
	    	
	    	&:nth-child(odd) .post-block {
	    		margin-right: $gutter/2;
	    	}
	    	&:nth-child(even) .post-block {
	    		margin-left: $gutter/2;
	    	}
    	}
	}
}
.post-blocks {
	max-width: 71.875em;
	margin: $gutter auto;
	@include display(flex);
	@include flex-wrap(wrap);
	justify-content: flex-start;
    .post-block-masonry {
	    .post-block {
		    	margin-bottom: $gutter;
	    }
	     @include media ($medium) {
	    	width: 50%;
	    	
	    	&:nth-child(odd) .post-block {
	    		margin-right: $gutter/2;
	    	}
	    	&:nth-child(even) .post-block {
	    		margin-left: $gutter/2;
	    	}
    	}
	    @include media ($large) {
			width: 33.333%;
			&:nth-child(3n-2) .post-block {
				margin-right: $gutter*.666;
				margin-left: 0;
			}
			&:nth-child(3n-1) .post-block {
				margin-left: $gutter*.3333;
				margin-right: $gutter*.3333;
			}
			&:nth-child(3n) .post-block {
				margin-right: 0;
				margin-left: $gutter*.666;
			}
		}
	}
}

.post-blocks-small {
	max-width: 71.875em;
	margin: $gutter auto;
	@include display(flex);
	@include flex-wrap(wrap);
	justify-content: flex-start;
	text-align: left;
    .post-block-masonry {
	    .post-block {
		    	margin-bottom: $gutter;
	    }
	     @include media ($medium) {
	    	width: 50%;
	    	
	    	&:nth-child(odd) .post-block {
	    		margin-right: $gutter/2;
	    	}
	    	&:nth-child(even) .post-block {
	    		margin-left: $gutter/2;
	    	}
    	}
	    @include media ($large) {
			width: 25%;
			&:nth-child(4n-3) .post-block {
				margin-right: $gutter*.75;
				margin-left: 0;
			}
			&:nth-child(4n-2) .post-block {
				margin-left: $gutter*.25;
				margin-right: $gutter*.5;
			}
			&:nth-child(4n-1) .post-block {
				margin-left: $gutter*.5;
				margin-right: $gutter*.25;
			}
			&:nth-child(4n) .post-block {
				margin-left: $gutter*.75;
				margin-right: 0;
			}			
		}
	}
}

.post-block-small {
	.block-meta {
		padding-top: $gutter/2;
		margin: 0;
	}
	h4 {
	margin-bottom: $gutter/2;
	}
	.block-content {
		padding: 0;
		color: $body-color;
	}
	.block-image {
		height: 10em;
	}
	@include media ($large) {
		.block-image {
			height: 10em;
		}
	}
}
