#masthead {
	background: $primary-color;
	padding-top: 72px;
	padding-bottom: 72px;
	h1 {
		background: url(/images/logo.svg);
		display: block;
		text-indent: -3000px;
		height: 72px;
		width: 89px;
	}
	#masthead h2 {
		font-size: 56px;
		margin-top: 48px;
		margin-bottom: 24px;
	}
	#masthead p {
		font-size: 23px;
		font-weight: 700;
	}
	.inner-wrap {
		@include outer-container;
	}	
}

#contact {
	background: $base-color;
	display: block;
	font-family:$heading-font;
	font-size: 32px;
	color: $white;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 48px;
	margin-top: -64px;
	a {
		display: inline-block;
		font-weight: 500;
		background: $secondary-color;
		padding-left: 24px;
		padding-right: 24px;
		line-height: 48px;
		font-family: $base-font;
		font-size: 23px;
		width: 160px;
		text-decoration: none;
		color: $white;
		box-radius: 4;
	}
}

footer {
	text-align: center;
	color: $caption-color;
}