
.menu {
	#navigation {
		display: none;
		@include media($medium) {
		@include display(flex);
		@include align-items(center);
		justify-content: center;
		z-index: 12;
		ul {
			position: absolute;
			background-color: $white;
			background-size: 0 0;
			border-radius: $border-radius;	
			transition: all 0.3s ease-in-out;
			opacity: 0;
			padding: 8px 0px;
			transform: scale3d(0, 0, 0);
			@include media($micro) {
				display: block;
			}
			li {
				opacity: 0;
				padding-top: 4px;
				padding-bottom: 4px;
				transition: all 0.4s ease-in-out;
			}
		}
		li:hover ul {
			box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20), 0 1px 3px 0 rgba(0,0,0,0.10);
			display: block;
			opacity: 1;
			transition: all 0.2s ease-in-out;
			margin-left: 0px;
			margin-top: 0px;
			z-index: 11;
			transform: scale3d(1,1,1);
			li {
				opacity: 1;
				transition: all 0.2s ease-in-out;
			}
			li:hover {
				background: rgba(0,0,0,.05);
			}
			a {
				padding: 12px 16px;
			}
			&:hover {
				box-shadow: 0 6px 6px 0 rgba(0,0,0,0.26), 0 10px 20px 0 rgba(0,0,0,0.19);
				transition: all 0.2s ease-in-out;
			}
			&:pressed {
				box-shadow: 0;
				transition: all 0.2s ease-in-out;
			}
		}
		}
	}	
	li.top {
		a {
			padding: 16px;
			@include media($micro) {
			padding: 12px 0px;
			margin: 0;
			text-align: center;			
			}
			@extend .btn;
		}
		&:last-child {
			@include media($micro) {
			position: absolute;
			right: $gutter;
			top: 44px;
			}
		}
	}

	#contact-button {
		@include media($micro) {
			width: 126px;
			height: 40px;
			text-align: center;
		}
		@extend .btn-filled;
		@include media($small) {
		margin-left: 16px;}
	}
}


$primary-color: $link-color;
$primary-color-dark: darken( $primary-color, 10% );
$primary-color-tint-1: lighten( $primary-color, 10% );
$primary-color-tint-2: lighten( $primary-color, 20% );
$primary-color-tint-3: lighten( $primary-color, 30% );
$primary-color-tint-4: lighten( $primary-color, 40% );
$primary-color-tint-5: lighten( $primary-color, 50% );

$link-color: $base-color-dark;

#ham {
	display: block;
	right: 44px;
	top: 44px;
	color: $white;
	cursor: pointer;
	&:after {
		content: "menu";
	}
	@include media($medium) {
		display: none;
	}
}

#main:after {
		content: " ";
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 0;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0);
		transition: 0.45s;
}

.nav-is-toggled {
	#ham:after {
		content: "close";
	}
	#main:after {
		background: rgba(0,0,0,.5);
		z-index: 9;
		transition: 0.45s;
	}
}
.nav-top {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 101;
	padding: 10px 20px;
	width: 100%;
	height: 50px;
	background-color: $primary-color-dark;
	
	.hamburger {
		margin-left: auto;
		color: $white;
		cursor: pointer;
	}
}
.nav-drill {
	margin-top: 66px;
	@include media($medium) {
		margin-top: 120px;
	}
	transform: translateX(100%);
}
.nav-is-toggled {
	.nav-drill {
		transform: translateX(0);
	}
	&::after {
		opacity: 1;
		visibility: visible;
	}
}

// ---------------------------------------
// important stuff starts here

$nav-width: 100%;
$nav-padding: 0.875em 1em;
$nav-border-color: $base-color-dark;
$nav-background-color: darken($base-color,10%);
$nav-icon-font: 'Material Icons';
$nav-icon-arrow-right: 'chevron_right';
$nav-icon-arrow-left: 'chevron_left';

$nav-level-border-color: darken($base-color-dark,10%);
$nav-level-background-color: $base-color-dark;

$nav-level3-background-color: $base-color-dark;
$nav-level4-background-color: $primary-color-tint-3;
$nav-level5-background-color: $primary-color-tint-2;

.nav {
	&-drill {
		display: flex;
		position: fixed;
		z-index: 100;
		top: 0;
		right: 0;
		width: $nav-width;
		height: 100vh;
		background-color: $nav-background-color;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		transition: 0.45s;
	}
	
	&-items {
		flex: 0 0 100%;
	}
	
	&-item {
		&:not(:last-child) {
			border-bottom: solid 1px $nav-border-color;
		}
	}
	
	&-link {
		display: block;
		padding: $nav-padding;
		background-color: $nav-background-color;
		color: $white;
		font-size: 1rem;
		line-height: 1.5em;
		font-weight: 300;
	}
	
	&-expand {
		&-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateX(100%);
			background-color: $nav-level-background-color;
			transition: 0.3s;
			visibility: hidden;
			
			.nav-item {
				&:not(:last-child) {
					border-bottom: solid 1px $nav-level-border-color;
				}
			}

			.nav-link {
				background-color: $nav-level-background-color;
			}

			.nav-back-link {
				display: flex;
				align-items: center;
				background-color: $primary-color !important;
				color: $white;
				
				&::before {
					content: $nav-icon-arrow-left;
					margin-right: 0.5em;
					font-family: $nav-icon-font;
				}
			}
		}
		
		&-link {
			display: flex;
			justify-content: space-between;
			
			&::after {
				content: $nav-icon-arrow-right;
				flex: 0 1 auto;
				font-family: $nav-icon-font;
			}
		}
		
		&.active {
			> .nav-expand-content {
				transform: translateX(0);
				visibility: visible;
			}
		}
		
		// quick example for other level colours
		.nav-expand-content {
			background-color: $nav-level-background-color;
			.nav-link {
				background-color: $nav-level-background-color;
			}
			.nav-expand-content {
				background-color: $nav-level3-background-color;
				.nav-link {
					background-color: $nav-level3-background-color;
				}
				.nav-expand-content {
					background-color: $nav-level4-background-color;
					.nav-link {
						background-color: $nav-level4-background-color;
					}
					.nav-expand-content {
						background-color: $nav-level5-background-color;
						.nav-link {
							background-color: $nav-level5-background-color;
						}
					}
				}
			}
		}
	}
}