.post-page {
	ul {
	margin-top: 8px;
	}
	.post-meta {
		@include media($small) {
			@include span-columns(3);
		}
		ul {
			padding-left: 24px;
		}
		ul.industries {
			padding-left: 0;
			li {
				padding: 0;
				margin: 0;
				display: block;
			}
		}
		h6 {
			margin-bottom: 4px;
		}
		li {
			@include font-size(18,yes,22);
			margin-top: 4px;
			margin-bottom: 4px;
			a {
				text-decoration: none;
			}
		}
		a {
			display: block;
			text-decoration: none;
		}
	}
	.post-body {
		margin-bottom: 24px;
		@include media($small) {
			@include span-columns(9);
		}
		h4 {
			@extend h6;
			margin-bottom: 4px;
		}
	}
}
