.restart {
	h2 {
	text-align: center;
	margin-bottom: 64px;
	margin-top: -24px;
	}
}
#restart-one, #restart-two, #restart-three, #restart-four, #restart-five {
	max-width: 1024px;
	@include media($medium) {
		margin: 48px auto;
	}
}

#restart-one {
	margin-top: -24px;
	@include media($medium) {
	margin-top: -48px;
	}
}

#restart-two {
	@include media($medium) {
		ul {
		padding-right: 240px;
		background-image: url(../images/ic-restart.png);
		background-position: right center;
		background-size: contain;
		background-repeat: no-repeat;
		}
		margin-top: 24px;
	}
	h4, p.large {
	text-align: center;
	}
	p.large {
	margin-bottom: 32px;
	}
}

#restart-three {
	h4 {
	text-align: center;
	}
	margin: 48px auto;
	@include media($medium) {
		margin: 96px auto;
	}
}

#restart-four {
	padding: 0;
	text-align: center;
	margin-bottom: 48px;
	h5 {
		margin: 0 auto;
		position: relative;
		top: -24px;
	}
	p.large {
		margin: 24px 24px 48px 24px;
		display: block;
	}
	ol {
		padding: 0;
		text-align: left;
		list-style-position: inside;
		@include font-size(18,yes,28);
		@include media($medium) {
			@include font-size(20,yes,32);
		}
		margin-bottom: 0;
	}
	li {
		font-weight: 700;
		margin: 0;
		padding: 24px 24px 12px 24px;
			h6 {
				display: inline;
				margin: 0;
			}
		border-top: 3px solid $comp-color;
		p {
		font-weight: 300;
		}
	}
}

#restart-four ol {
	margin-bottom: 0;
}