.restart {
	h2 {
	text-align: center;
	margin-bottom: 64px;
	margin-top: -24px;
	}
}
#restart-one, #restart-two, #restart-three {
	max-width: 1024px;
	@include media($medium) {
		margin: 48px auto;
	}
}

#restart-one, #restart-two {
	h3, h4 {
	text-align: center;
	}
}

#restart-one {
	@include media($medium) {
		ul {
		padding-left: 220px;
		background-image: url(../images/ic-restart.png);
		background-position: left center;
		background-size: contain;
		background-repeat: no-repeat;
		}
	}
}

#restart-one {
	margin-top: 48px;
}

#restart-two {
	margin: 96px auto;
}

#restart-three {
	padding: 0;
	text-align: center;
	h5 {
		margin: 0 auto;
		position: relative;
		top: -24px;
	}
	h7 {
		margin: 0px 24px 24px 24px;
		display: block;
		text-align: left;
		color: $body-color;
			@include font-size(18,yes,24);
			@include media($medium) {
			@include font-size(20,yes,28);
		}
	}
	ol {
		padding: 0;
		text-align: left;
		list-style-position: inside;
		@include font-size(22,yes,28);
		@include media($medium) {
			@include font-size(24,yes,32);
		}
		margin-bottom: 0;
	}
	li {
		background: $comp-color;
		margin: 0;
		padding: 24px 24px 12px 24px;
			h7 {
				@include font-size(22,yes,28);
				@include media($medium) {
				@include font-size(24,yes,32);
				}
				display: inline;
				margin: 0;
			}
		border-bottom: 3px solid $white;
		&:last-child {
			border-bottom: 0;
		}
	}
}

#restart-three ol {
	margin-bottom: 0;
}