.service {
	.page-title {
		background: $base-color;	
		padding: 24px 0px;
		.wrap {
			background-size: 0;
			@include media($small) {
				background-size: contain;
				background-position: right;
				background-repeat: no-repeat;
				min-height: 408px;
			}
			@include display(flex);
			@include align-items(center);	
		}	
		h5:first-child {
			opacity: 0.5;
		}
		h2, h5 {
			@include media($small) {
				@include span-columns(7);
			}
			@include media($large) {
				@include span-columns(8);
			}
		}

	}

}
.service-section {
	margin-top: 40px;
	@include media($medium) {
		display: flex;
		flex-flow: column wrap;
		max-height: 1400px;
		width: 100%;
	}
}

.service-details {
	@include media($medium) {
		margin: 0 16px 32px 0; /* Some gutter */
		width: 50%;
	}
	ul {
		padding: 0;
	}
	li {
		display: block;
		padding: 0;
		margin-bottom: 12px;
	}
	li span {
		opacity: .5;
	}
}