.team-section {
	margin: 40px 0;
}

#team-one {
	@include media($medium) {
		@include span-columns(6);
	}
	li {
		@include font-size(18,yes,24);
		margin-bottom: 12px;
	}
}

#team-two {
	@include media($medium) {
		@include span-columns(6);
	}	
}
#the-team {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.team {
	.quotes {
		margin-top: 64px;
	}
}

.team-member {
	text-align: center;
	margin-bottom: 40px;
	width: 50%;
	@include media($medium) {
		width: 33%;
	}	
	@include media($large) {
		width: 25%;
	}		
	img {
		background: $border-color;
		border-radius: 200px;
		display: block;
		max-height: 200px;
		max-width: 200px;
		margin: 0 auto 12px auto;
	}
	h6 {
		display: block;
		width: 100%;
		margin-bottom: 0px;
	}
	p {
		display: block;
		width: 100%;
		margin: 0px;
		margin-bottom: 16px;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		font-size: 14px;
		opacity: 0.5;
	}
}