.team-section {
	margin: 40px 0;
}
.team {
	@extend .practice;
		h2, h5 {
		@include media($small) {
			@include span-columns(5);
		}
		@include media($medium) {
			@include span-columns(6);
		}
		@include media($large) {
			@include span-columns(7);
		}
	}
	.emphasis {
		margin-bottom: 40px;
	}
}

#team-one {
	@include media($medium) {
		@include span-columns(6);
	}
	li {
		@include font-size(18,yes,24);
		margin-bottom: 12px;
	}
}

#team-two {
	@include media($medium) {
		@include span-columns(6);
	}	
}
#the-team {
}
.team-member {
	text-align: center;
	margin-bottom: 20px;
	@include media($small) {
		@include clearfix;
		width: 50%;
		float: left;
		min-height: 400px;
	}	
	@include media($medium) {
		width: 33%;
	}	
	@include media($large) {
		width: 25%;
	}		
	img {
		background: $border-color;
		border-radius: 200px;
		display: block;
		height: 200px;
		width: 200px;
		margin: 0 auto 12px auto;
	}
	h5 {
		display: block;
		width: 100%;
		margin-bottom: 0px;
	}
	p {
		display: block;
		width: 100%;
		margin: 0px;
		margin-bottom: 16px;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		font-size: 14px;
		opacity: 0.5;
	}
}