.team, .team-member-page {
	.wrap {
		max-width: 1024px;
	}
	h6 {
	text-align: center;
	}
}

.team-section {
	margin: 40px 0;
}

#the-team {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.team-member {
	a {
	text-decoration: none;
		p, ul {
			color: $text-color;
		}
	}
	text-align: center;
	margin-bottom: 40px;
	width: 100%;
	@include media($medium) {
		width: 33%;
	}	
	@include media($large) {
		width: 25%;
	}		
	.team-member-photo {
		background: $border-color;
    background-size: cover;
		border-radius: 200px;
		display: block;
    height: 120px;
    width: 120px;
		@include media($medium) {
				height: 200px;
				width: 200px;
			}			

		margin: 0 auto 12px auto;
	}
	h6 {
		display: block;
		width: 100%;
		margin-bottom: 0px;
	}
	p {
		display: block;
		width: 100%;
		margin: 0px;
		margin-bottom: 16px;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: block;
		font-size: 14px;
		opacity: 0.5;
	}
}

.team-member-page {
	@include media($medium) {
	padding-top: 150px;
	}
	h2 {
		text-align: center;
	}
	.team-image {
	background: $border-color;
		border-radius: 200px;
		display: block;
		max-height: 200px;
		max-width: 200px;
		margin: 0 auto 12px auto;
	}
	.emphasis {
		margin-top: -100px;
		margin-bottom: 32px;
		padding-top: 100px;
		h6 {
			text-align: center;
		}
	}
}
