
<footer role="contentinfo" id="site-footer">
	<div class="wrap">
		<div class="footer-one">
			<h2 id="footer-logo">SLKone</h2>
			<div class="social-btn">
		      <a class="btn" href="https://twitter.com/SLKone_LLC" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		      <a class="btn"  href="https://www.linkedin.com/company/slkone" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		      <a class="btn" href="https://www.youtube.com/channel/UCJ_3HPY37_fmBPJhnBzofwg"><i class="fa fa-youtube" aria-hidden="true"></i></a>
		    </div>
		</div>
		<div class="footer-two">
			<nav role="navigation" class="menu bottom-menu">
				<a href="{{ site.url }}/contact">Get in Touch</a> <a href="{{ site.url }}/services">Services</a> <a href="{{ site.url }}/insights">Insights</a> <a href="{{ site.url }}/careers">Jobs</a>  <a href="{{ site.url }}/terms-and-conditions">Terms &amp; Conditions</a>
			</nav>
			
		</div>
		<div class="footer-three">
			<p>&#169; {{ site.time | date: '%Y' }} SLKone, LLC</p>
		    <p>251 Little Falls Drive, Wilmington, DE 19808, USA</p>
		</div>
	</div>
</footer>
