<div class="quotes">	
	<div class="wrap">
		<h4>Want to discover your purpose? Talk to any one of us</h4>
		<div class="quote">
			<p>Consulting attracts/creates/promotes an obsequious personality that only has as much self worth as the last engagement letter it received. I believe that the SLK leadership differentiates itself by having enough self worth and confidence that it will be able to remain confident in and true to its founding principles.</p>
		</div>
		<div class="quote">
			<p>Strong sense of empowerment. Willingness to break the status quo. Inspirational. Innovative.</p>
		</div>	
	</div>	
</div>