<div class="testimonials">	
	<div class="wrap">
		<h4>What makes us different</h4>
		<div class="quote">
			<p>I found you to listen more intently and more genuinely than many other firms. Also, you pushed back and helped redirect when needed in a very professional manner.</p>
			<span class="byline">A corporate c-suite leader in building and consumer products industry leader who has hired us multiple times</span>
		</div>
		<div class="quote">
			<p>I believe I already know a lot, so typical consultants selling me on models that I have 20 years of experience doing doesn’t really excite me. What makes them any better than me? But to evolve NEW ways to be the best in the world using innovative ideas and practices, THAT is something that I find is valuable to bat around and to have others expose me to thinking and ways that are better that what I have already accomplished or could do quickly on my own”</p>
			<span class="byline">GE alum, who worked with us in the trenches</span>
		</div>		
		<div class="quote">
			<p>Access and agility - Our work together epitomized a high performance team passing the ball to each other without having to look. Access to anyone at anytime on your team helped; and agility in terms of keeping the group small, we were able to adopt and move fast.</p>
			<span class="byline">A senior leader that teamed up with us in execution of strategy</span>
		</div>
		<div class="quote">
			<p>You guys were the only ones who didn’t brag up your expertise in my industry. You brought basic common sense and facts from smart analytics together; rolled up the sleeves and got to work.</p>
			<span class="byline">A senior leader who has hired us in numerous mission critical situations</span>
		</div>		
	</div>
</div>