---
layout: default
---
<div id="main" class="advisor-page" role="main">			
	<div class="wrap">
			<img class="advisor-image" src="{{ site.url }}/images/advisors/{{ page.advisor-image }}" />
			<div class="emphasis">
				<h2>{{ page.title }}</h2>
				<h6>{{ page.job-title }}</h6>
				{% if page.linkedin != blank %}
					<a class="btn-social linkedin"  href="{{ page.linkedin }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> Connect with {{ page.title }} on LinkedIn</a>
				{% endif %}
				{{ page.content }}
			</div>
	</div><!-- /.wrap -->
<div>