---
layout: default
---
<div id="main" class="collections" role="main">			
	{% include title-image.html %}
	<div class="wrap">
		<div class="services service-collection post-blocks-medium">
			{% assign ordered-services = site.services | sort:"order" %}
			{% for service in ordered-services %}
			{% if service.categories contains 'top-level-service' %}
			<div class="post-block-masonry">
			    {% include service-block.html %}
			</div>
		     {% endif %}
			 {% endfor %}
		</div>
	</div><!-- /.wrap -->
<div>
