.services {
	.post-block {
		@include display(flex);
		height: 100%;
		a {
			border: 2px solid $comp-color;
			border-radius: $border-radius;
			padding: $gutter;
			padding-bottom: 0;
			@include display(flex);
			@include flex-wrap(wrap);
			@include align-content(flex-start);
			margin-bottom: $gutter !important;
			width: 100%;
			h4 {
				color: $comp-color;
			}
			h4,.block-content {
				width: 100%;
			}
			.btn {
				color: $comp-color;
				display: inline-block;
				@include align-self(flex-end);
				margin-bottom: 0;
				padding-bottom: 0;
			}
			&:hover {
			background-color: $comp-color;
				h4,.block-content,.btn {
					color: $white;
				}
			}
		}
	}
}

.service-collection {
	.post-title {
		@extend h4;
	}
}

.industry-page .post-block {
	h4 {
	margin-bottom: 0;
}
}