---
layout: default
---
{% assign case-study-slug = {{page.url | remove: '/' | remove_first: "case-studies"}}" %}

<div id="main" class="case-study-page" role="main">			
	<div class="page-title" style="background-image:url({{ site.url }}/images/case-studies/{{ case-study-slug }}.jpg)">
		<div class="background-overlay">
			<div class="wrap">
				<div>
				<h5>Case Study</h5>
				<h2>{{ page.title }}</h2>
				{% if page.intro %}<p class="intro">"{{ page.intro }}"</p>{% endif %}			
				</div>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="case-meta">
			<ul>
				<li>
					<h6>Industry</h6>
					<p>{{ page.industries | replace: '-', ' '  | remove: '[', | remove: ']' | remove: '"'}}</p>
				</li>
				<li>
					<h6>Services Performed</h6>
					<p>{{ page.services-performed | replace: '-', ' '  | remove: '[', | remove: ']' | remove: '"'}}</p>
				</li>
				<li>
					<h6>Team Size</h6>
					<p>{{ page.team-size }}</p>
				</li>
				<li>
					<h6>Project Duration</h6>
					<p>{{ page.project-length }}</p>
				</li>
			</ul>
		</div>
		<div class="case-body">
		  {{ page.content | markdownify }}
		</div>

	</div><!-- /.wrap -->
<div>