---
layout: default
---
{% assign case-study-slug = {{page.url | remove: '/' | remove_first: "case-studies"}}" %}

<div id="main" class="case-study-page" role="main">			
	<div class="page-title" style="background-image:url({{ site.url }}/images/{{ page.heroimage }})">
		<div class="background-overlay">
			<div class="wrap">
				<div>
				<h5>Case Study</h5>
				<h2>{{ page.title }}</h2>
				{% if page.intro %}<p class="intro">"{{ page.intro }}"</p>{% endif %}			
				</div>
			</div>
		</div>
	</div>
	<div class="wrap content">
		<div class="case-meta">
			<h6>Industry</h6>
			<ul class="industries">
				<a href="{{ site.url}}/expertise/{{ page.industries }}"><li>{{ page.industries | replace: '-', ' '  | remove: '[', | remove: ']' | remove: '"'}}</li></a>
			</ul>
			<h6>Services Performed</h6>
			<ul class="services-performed">
				{% for services-performed in page.services-performed %}
				    <a href="{{ site.url}}/services/{{ services-performed }}"><li>{{ services-performed | replace: '-', ' '  | remove: '[', | remove: ']' | remove: '"'}}</li></a>
				{% endfor %}
			</ul><!--
				<li>
					<h6>Team Size</h6>
					<p>{{ page.team-size }}</p>
				</li>
				<li>
					<h6>Project Duration</h6>
					<p>{{ page.project-length }}</p>
				</li>-->
			</ul>
		</div>
		<div class="case-body">
		  {{ page.content | markdownify }}
		  <h7>Case studies and expertise may represent projects and engagements performed by SLKone team members prior to their employment at SLKone</h7>
		</div>

	</div><!-- /.wrap -->
<div>