---
layout: default
---
<div id="main" role="main">		
	<div class="page-title">
	{% assign filename = page.url | replace: 'contactpage', '' | replace: '/', ''  | replace: '.html', '.md' %}
	<div class="qr-code" style="background-image: url('{{site.url}}/images/qr/{{ filename }}.svg')">
	</div>
	</div>
	<div class="wrap content">
		<h2 class="h1">{{ page.title }}</h2>
		<h4 class="h5">{{ page.job-title }}</h4>
		<h5>
			<strong>{{ page.email }}</strong>
		</h5>
		<h5>
			<strong>{{ page.phone }}</strong>
		</h5>
	</div><!-- /.wrap -->
<div>
<a class="download-vcard btn-lg" href="{{site.url}}/vcards/{{ filename }}.vcf">Save Contact</a>