---
layout: default
---
<div id="main" class="team-member-page" role="main">			
	<div class="wrap">
			{% assign filename = page.url | replace: 'contactpage', '' | replace: '/', ''  | replace: '.html', '.md' %}
			<div class="qr-code" style="background-image: url('{{site.url}}/images/qr/{{ filename }}.svg')">
			</div>
			<img class="team-image" src="{{ site.url }}/images/team-members/{{ page.team-image }}" />
			<div class="emphasis center">
				<h2>{{ page.title }}</h2>
				<h4 class="h5">{{ page.job-title }}</h4>
				<h5>
					<strong>{{ page.email }}</strong>
				</h5>
				<h5>
					<strong>{{ page.phone }}</strong>
				</h5>
				{{ page.content }}
			</div>
	</div><!-- /.wrap -->
<div>
<a class="download-vcard btn-secondary" href="{{site.url}}/vcards/{{ filename }}.vcf">Save Contact</a>