---
layout: default
---
<section id="pillars" class="pb-20">
    <div class="container mx-auto px-8 max-w-prose md:text-xl text-center">
        
			{% assign filename = page.url | replace: 'contactpage', '' | replace: '/', ''  | replace: '.html', '.md' %}
			<div class="w-48 h-48" style="background-image: url('{{site.url}}/images/qr/{{ filename }}.svg')">
			</div>
			<img class="team-image w-full max-h-96" src="{{ site.url }}/assets/images/team/{{ page.team-image }}" alt="{{ page.title }}" />
			<div class="emphasis center">
				<h2 class="text-4xl font-display mb-8 text-center">{{ page.title }}</h2>
				<h4 class="h5 text-2xl">{{ page.job-title }}</h4>
				<h5 class="text-xl">
					<strong>{{ page.email }}</strong>
				</h5>
				<h5 class="text-xl">
					<strong>{{ page.phone }}</strong>
				</h5>
				{{ page.content }}
			</div>
<a class="mx-auto bg-emerald dark:bg-forest text-white dark:text-currant text-2xl transition-all p-4 rounded-full px-8 duration-300 hover:bg-emerald-500 dark:hover:bg-forest-500"  href="{{site.url}}/vcards/{{ filename }}.vcf">Save Contact</a>
</div>
</section>