---
layout: default
---
{% assign background_image = page.background %}
{% include page-header.html title=page.title background_image=background_image %}
<div class="container mx-auto px-8 max-w-7xl grid md:grid-cols-2 py-20 gap-8">
        // Start of Selection
        <div id="contact-form" class="order-1 md:order-2 md:col-span-1">
            <form action="https://api.web3forms.com/submit" method="POST">
                <input type="hidden" name="access_key" value="ec7172e2-c4b4-41bf-885c-b8e2beba5024">
                <label for="name">Name</label>
                <input name="name" placeholder="What's your name?" type="text" class="w-full mb-4 p-2 border border-gray-300 rounded" required>
                <label for="email">Email</label>
                <input name="email" placeholder="What's your email address?" type="email" class="w-full mb-4 p-2 border border-gray-300 rounded" required>
                <label for="phone">Phone</label>
                <input name="phone" placeholder="What's your phone number?" type="tel" class="w-full mb-4 p-2 border border-gray-300 rounded">
                <label for="message">Details</label>
                <textarea rows="6" name="message" placeholder="What can SLKone do for you?" class="w-full mb-4 p-2 border border-gray-300 rounded" required></textarea>
                <button type="submit" class="bg-emerald dark:bg-forest text-white dark:text-currant text-2xl transition-all p-4 rounded-full px-8 duration-300 hover:bg-emerald-500 dark:hover:bg-forest-500">Send</button>
            </form>
        </div>
    <div class="order-2 md:order-1 prose dark:prose-invert md:col-span-1">
        {{ content }}
    </div>
</div>