<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta name="ahrefs-site-verification" content="63e17d02715431c0c148b79e28bb7e378f94937509f7fd1040f4167884f7436f">
    
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.typekit.net/xpq0txe.css">
<script src="{{ site.url }}/js/vendor/jquery-1.9.1.min.js"></script>
<script src="{{ site.url }}/js/plugins/jquery.easing.js"></script>
    <script src="{{ site.url }}/js/plugins/jquery.slidorion.min.js"></script>
  
      <script>
    $(function() {
      $('#slidorion').slidorion({
        interval: 20000,
      });
    });
    </script>
    <script>
      /* Open */
      function openNav() {
        document.getElementById("myNav").style.display = "block";
      }

      /* Close */
      function closeNav() {
        document.getElementById("myNav").style.display = "none";
      } 
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120057878-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-120057878-1');
    </script>
  </head>

  <body id="js-body">
    {% include browser-upgrade.html %}
    {% include header.html %}

      {{ content }}
      {% include footer.html %}
    <script src="{{ site.url }}/js/main.js"></script>
<script id="bx24_form_delay" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'slkone.bitrix24.com/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"1","lang":"en","sec":"u8wej4","type":"delay","delay":5});
</script>
 
  </body>


</html>
