---
layout: default
---
<div id="main" class="industry-page" role="main">			
	<div class="page-title">
		<div class="background-overlay">
		<div class="wrap" style="background-image: url({{site.url}}/images/{{ page.heroimage }});">
			<h5>Industry Expertise</h5>
			<h2>{{ page.title }}</h2>
			{% if page.intro %}<p class="intro">{{ page.intro }}</p>{% endif %}			
		</div>
		</div>
	</div>
	<div class="wrap">
		{{ content }}
		<div class="case-studies">
		{% assign industry-slug = {{page.url | remove: '/' | remove_first: "expertise"}}" %}
		{% for case-studies in site.case-studies %}
		{% if case-studies.industries contains industry-slug %}
		    {% include case-study-block.html %}
	    {% endif %}
		{% endfor %}
		</div>
	</div><!-- /.wrap -->
<div>