---
layout: default
---

<div id="main" class="post-page" role="main">			
	<div class="page-title" style="background-image:url({{ site.url }}/images/{{ page.heroimage}})">
		<div class="background-overlay">
			<div class="wrap">
				<div>
				<h5><a href="{{site.url}}/insights/">Insights</a></h5>

				<h2>{{ page.title }}</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap content">
		<div class="post-meta">
			{% for author in page.authors %}
        {% for team-member in site.team-members %}
				  {% if team-member.title contains author %}
			    	{% include team-member.html %}
			     {% endif %}
			  {% endfor %}
        {% for advisors in site.advisors %}
				  {% if advisors.title contains author %}
			    	<div class="team-member">
                  <img src="{{ site.url }}/images/advisors/{{ advisors.advisor-image }}" />
                  <h6>{{ advisors.title }}</h6>
                  <p>SLKone Advisory Partner <br/> {{ advisors.post-title }}</p>
            </div>
			     {% endif %}
			  {% endfor %}
		    {% endfor %}
		</div>
		<div class="post-body">
		  {{ content }}
		  {% include share-this.html %}
		</div>

	</div><!-- /.wrap -->
<div>
<div class="page-bottom">
<div class="wrap">
	<div class="bottom-link">
		<h4>Interested in working with SLKone?</h4> <a class="btn btn-secondary" href="{{ site.url}}/contact">Get in Touch</a>
	</div>
</div>
</div>    
