---
layout: default
---

<div id="main" class="regular-page" role="main">			
	<div class="page-title">
		<div class="background-overlay">
			<div class="wrap">
				<div>
				<h2>{{ page.title }}</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap content">
		<div class="post-body">
		  {{ content }}
		  {% include share-this.html %}
		</div>
	</div><!-- /.wrap -->
<div>
<div class="page-bottom">
	<div class="wrap">
    <div><h6>Interested in working with SLKone?</h6> <a class="btn-outline" href="{{ site.url}}/contact">Get in Touch</a></div>
	</div>
</div>    
