---
layout: default
---

<div id="main" class="post-page" role="main">			
	<div class="page-title" style="background-image:url({{ site.url }}/images/{{ page.heroimage}})">
		<div class="background-overlay">
			<div class="wrap">
				<div>
				<h5>Insights</h5>
				<h2>{{ page.title }}</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="post-meta">
			<h6>{{ post.date | date: '%B %d, %Y' }}</h6>
			{% for author in page.authors %}
	            {% for team-member in site.team-members %}
				  {% if team-member.title contains author %}
			    	{% include team-member.html %}
			     {% endif %}
			  {% endfor %}
		    {% endfor %}
		    <h6>Services Performed</h6>
			<ul class="services-performed">
				{% for services-performed in page.services-performed %}
				    <a href="{{ site.url}}/services/{{ services-performed }}"><li>{{ services-performed | replace: '-', ' '  | remove: '[', | remove: ']' | remove: '"'}}</li></a>
				{% endfor %}
			</ul>
		</div>
		<div class="post-body">
		  {{ content }}
		  {% include share-this.html %}
		</div>

	</div><!-- /.wrap -->
<div>