---
layout: default
---
<div id="main" class="restart" role="main">			
	{% include title-image.html %}
	<div class="wrap content">
		{{ content }}
		<div class="post-blocks">
		  {% for post in site.posts %}
		  	{% if post.category == 'restart' }
		    {% include post-block.html %}
		    {% endif %}
		  {% endfor %}
		</div>
	</div><!-- /.wrap -->
<div>

<div class="page-bottom">
	<div class="wrap">
		<div><h6>Interested in learning more?</h6> <a class="btn-outline" href="{{ site.url}}/contact">Get in Touch</a></div>
	 <div><h6>Want to take this with you? </h6> <a class="btn-outline" href="{{ site.url}}/SLKone_Business-Restart-Incubator.pdf">Download Presentation</a></div>
    
	</div>
</div>