---
layout: default
---
<div id="main" class="service-page" role="main">			
	<div class="page-title">
		<div class="background-overlay">
		<div class="wrap" style="background-image: url({{site.url}}/images/{{ page.heroimage }});">
			<h5>Service Line</h5>
			<h2>{{ page.title }}</h2>
			{% if page.intro %}<p class="intro">{{ page.intro }}</p>{% endif %}			
		</div>
		</div>
	</div>
	<div class="wrap content">
		{{ content }}
		<div class="case-studies">
		{% assign service-slug = {{page.url | remove: '/' | remove_first: "services"}}" %}
		{% for case-studies in site.case-studies %}
		{% if case-studies.services-performed contains service-slug %}
		    {% include case-study-block.html %}
	    {% endif %}
		{% endfor %}
		</div>
	</div><!-- /.wrap -->
<div>
<div class="page-bottom">
	<div class="wrap">
	<div><h6>Interested in working with SLKone?</h6> <a class="btn-outline" href="{{ site.url}}/contact">Get in Touch</a></div>
	</div>
</div>  
