---
layout: default
---
<div id="main" class="insights" role="main">			
	<div class="page-title" style="background-image:url({{ site.url }}/images/{{ page.heroimage}})">
		<div class="background-overlay">
			<div class="wrap">
				<div>
					<h5><a href="{{site.url}}/insights/">Insights</a> &gt; </h5>
					<h2>{{ page.title }}</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="content post-blocks-wrap">
		<div class="post-blocks-medium">
			{% for post in site.tags[page.tag] %}
			<div class="post-block-masonry">
			  {% include post-block.html %}
			</div>
			{% endfor %}
		</div>
	</div><!-- /.wrap -->
<div>