---
layout: default
---
<div id="main" class="service-page" role="main">			
	<div class="page-title">
		<div class="background-overlay">
		<div class="wrap" style="background-image: url({{site.url}}/images/{{ page.heroimage }});">
			<h2>{{ page.title }}</h2>
		</div>
		</div>
	</div>
	<div class="wrap">
			{% assign team-member-slug = {{team-member.url | remove: '/' | remove_first: "team-members"}}" %}
			<img src="{{ site.url }}/images/team-members/{{ team-member-slug }}.jpg" />
			<h6>{{ team-member.title }}</h6>
			<p>{{ team-member.job-title }}</p>
			{{ team-member.content }}
		</div>
	</div><!-- /.wrap -->
<div>