---
layout: default
---
<div id="main" class="team-member-page" role="main">			
	<div class="wrap">
			<img class="team-image" src="{{ site.url }}/images/team-members/{{ page.team-image }}" />
			<div class="emphasis">
				<h2>{{ page.title }}</h2>
				<h6>{{ page.job-title }}</h6>
				{{ page.content }}
			</div>
	</div><!-- /.wrap -->
<div>
<div class="page-bottom">
	<div class="wrap">
		<div><h6>Interested in learning more?</h6> <a class="btn-outline" href="../contact">Contact Us</a></div>
	</div>
</div>